# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Front-end\shop-my-pham\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
