.footer{
    border-top: 26px solid #f76e11;
    margin-top: 70px;
    p{
        font-size: 18px;
        max-width: 870px;
        margin: 0;
        color: #454545;
    }
    ul{
        list-style: none;
        li{
            a{
                font-size: 18px;
                color: #666;
                padding: 0;
                line-height: 28px;
            }
        }
    }
    
}